/*
.vim/ignore/
.vim/.*
.vim/plugged/
!.tmux.conf
!.vimrc
!.bashrc
!.bash_aliases
!.vim/
!.gitignore
!.gitconfig
!.hgrc
!.ls_colors
!.pystartup
!.Xmodmap
!.dotconf

!.packages/
.packages/*
!.packages/bin/
.packages/bin/*
!.packages/bin/tmux-select-pane
!.packages/bin/rs

